* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	transition: 0.1s ease-in;
}

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--basic-color: #07053d;
	--sec-color: #efe;
}

body {
	width: 100%;
	max-width: 100%;
	font-size: calc(10px + 0.95vmax);
}

html {
	scroll-behavior: smooth;
}

.sC {
	color: var(--basic-color);
}

.sBC {
	border-color: var(--basic-color);
}

.sBgC {
	background: var(--basic-color);
	color: #fff;
}

.halfBtn {
	border-width: 2px;
	border-style: solid;
}

.halfBtn, .noBtn {
	background: none;
}

.row {
	display: flex;
}

.col {
	display: flex;
	flex-direction: column;
}

.align-cen {
	align-items: center;
}

.space-bet {
	justify-content: space-between;
}

.j-center {
	justify-content: center;
}

.hide {
	display: none;
}

.xgap {
	gap: 5px;
}

.x-gap {
	gap: 10px;
}

.xx-gap {
	gap: 20px;
}

.xxx-gap {
	gap: 30px;
}

.x-pad {
	padding: 5px;
}

.xx-pad {
	padding: 20px;
}

.Br-4 {
	border-radius: 4px;
}

.Br-5 {
	border-radius: 5px;
}

.fixed-main {
	padding-top: 50px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

button, a {
	font-weight: bold;
}

button:hover, a:hover {
	opacity: 60%;
}